<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header-container">
          <a href="/todos" class="logo">TodoApp</a>
          <nav class="nav">
            <form action="/logout" method="POST">
              <button type="submit" class="btn-logout">Logout</button>
            </form>
          </nav>
        </div>
    </header>
</body>
</html>